.footer{
    background:black;
    width: 100%;
    height:14vh;
    bottom:0px;
    position:fixed
  }
  
  .footer li{
    
  text-align: center;
    
  } 
  .footer li a {
    color:white;
    list-style-type: none;
    display: center; 
    text-decoration: none;
    font-family: Roboto,"sons-serif";
    font-size:1.2rem;
    margin-bottom: auto;
    
    
  }
  
  
   /*Efecto Animado linea */
  
  .footer li a::after {
    content: "";
    display:block;
    height: 3px;
    background-color:yellowgreen;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform 0.4s;
    
  }
  
  .footer li a:hover::after {
    transform: scale(1,1);
    
  }
   